<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<form action="/admin/addUserInfo">

    用户名: <input type="text" name="uname"><br>
    密码: <input type="text" name="upass"><br>
    权限:
    后台管理员:<input type="radio" name="uroot" value="0">
    普通员工:<input type="radio" name="uroot" value="1">
    组长:<input type="radio" name="uroot" value="2"><br>


    <input type="submit" value="提交">
    
</form>


</body>
</html>