<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mui.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">

    <script>
        if(!localStorage.welcome){
            localStorage.welcome="yes";
            location.href="/welcome"
        }
    </script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/touch.js"></script>
    <script src="/js/swiper.jquery.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/route.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/app.js"></script>


</head>
<body ng-app="myapp" ng-controller="index">

<div ng-view class="view-animate" >

</div>



<nav class="mui-bar mui-bar-tab">
    <a class="mui-tab-item "  ng-class="{'mui-active':active=='one'}"   ng-click="change('one')" ng-href="#!/" >
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label" > 首页
        </span>
    </a>
    <a class="mui-tab-item" ng-href="#!/phone" ng-class="{'mui-active':active=='two'}"   ng-click="change('two')">
        <span class="mui-icon mui-icon-phone"></span>
        <span class="mui-tab-label"> 通讯录</span>
    </a>
    <a class="mui-tab-item" ng-class="{'mui-active':active=='three'}"   ng-click="change('three')" href="#!/todo">
        <span class="mui-icon mui-icon-email"></span>
        <span class="mui-tab-label">代办事项</span>
    </a>
    <a class="mui-tab-item" ng-class="{'mui-active':active=='four'}"   ng-click="change('four')" href="#!/log">
        <span class="mui-icon mui-icon-gear"></span>
        <span class="mui-tab-label">发送日志</span>
    </a>
    <a class="mui-tab-item" ng-class="{'mui-active':active=='five'}"   ng-click="change('five')">
        <span class="mui-icon mui-icon-gear"></span>
        <span class="mui-tab-label">设置</span>
    </a>
</nav>

</body>
</html>